@{
    ViewBag.Title = "About";
}
<h2>H & L Electronics</h2>
<hr/>
<div>
    <p>H & L Electronics is an Audio Visual & Event Management Company based in Sri Jayewardenepura Kotte.
    We specialize in the logistical organization and delivery of a large range of inspired and professionally managed entertainment events namely private events, conferences, provide professional audio-visual systems, multimedia projectors, stage lighting systems and many more services.
    We undertake events in Colombo and its suburbs. To cover a certain event, we have a skilled crew to plan the event giving personal attention to the customer’s needs and tastes so that the they can provide their customers a truly richer experience than they expected.
    </p>
</div>
<br/>
<div>
    <h4>Our Vision</h4>
    <p>We will challenge our skills and abilities, and create an event management platform that is strong, dependable and intuitive allowing event professionals to work efficiently and efficiently and effortlessly.</p>
</div>
<br />
<div>
    <h4>Our Mission</h4>
    <p> To become the most adopted Event Management company in Sri Lanka. </p>
</div>
<br />
<div>
    <b>We undertake Installations, Hiring & Repairs of</b>
    <ul>
        <li>Public Address Systems</li>
        <li>Professional Audio Visual Systems</li>
        <li>CCTV Systems</li>
        <li>Event Management</li>
        <li>Multimedia Projectors</li>
        <li>Office / Domestic Electrical Wiring</li>
        <li>Office / /Domestic Electrical Apploancs</li>
        <li>Stage Lighting Systems</li>
        <li>Network Cabiling</li>
        <li>Theatre Curtain Systems</li>
        <li>Air Conditioning</li>
    </ul>
</div>
