@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<h4>Head office & Show Room</h4>
<br />
<address>
    <abbr  title="Address">Address:</abbr><br />
    No: 12,<br />
    Rampart Road,<br />
    Etul Kotte,<br />
    Kotte,<br />
    Sri Lanka.<br />
    <br />

    <abbr title="Telephone">Tel:</abbr><br />
    ++94 11 2866872 | ++94 11 4955837 | ++94 11 575979 <br /><br />

    <abbr title="Phone">Mobile:</abbr><br />
    0773287282<br /><br />

    <abbr title="Phone">Fax:</abbr><br />
    ++94 11 2884064
</address>

<address>
    <abbr title="Email">E-mail:</abbr><br />
    <a href="hl_elect@sltnet.lk">hl_elect@sltnet.lk</a><br />
</address>
<address>
   Location:<br />
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6661.551541796208!2d79.90368435993913!3d6.892726724253655!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbc5d17d24ee32758!2sH+%26+L+Electronics!5e0!3m2!1sen!2slk!4v1510599826912" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</address>