
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:red">Server Error Occured!</h2>
<address>
    <abbr title="Email">Contact Admin:</abbr><br />
    <a href="hl_elect@sltnet.lk">hl_elect@sltnet.lk</a><br />
</address>
